<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaik Sameer Ahamad - Portfolio</title>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.45/build/spline-viewer.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body,
        html {
            height: 100%;
            overflow: hidden;
        }

        spline-viewer {
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>

<body>
    <spline-viewer url="https://prod.spline.design/rcMgv2sPQ4urVPr6/scene.splinecode"></spline-viewer>
</body>

</html>